{#
Displays a tree of organzations
#}
{% set show_dataset_count = show_dataset_count or false %}
{% set url_prefix = h.url_for(controller='organization', action='read', id='') %}
{% set type = 'asset' if h.check_ckan_version("2.9.0", "2.10.0") else 'resource' %}
{% include 'hierarchy/snippets/hierarchy_' ~ type ~ '.html' %}

<ul class="no-bullet organization-tree" data-organization-tree>
    {% for node in top_nodes recursive %}
    <li id="node_{{ node.name }}" class="organization">
        {% if node.children %}
        <button class="js-expand btn btn-primary btn-xs" aria-label="{{ _('Expand') }}"><i class="fa fa-plus"></i></button>
        <button class="js-collapse btn btn-gray btn-xs" aria-label="{{ _('Collapse') }}"><i class="fa fa-minus"></i></button>
        {% endif %}
        <div class="organization-row">
            {% if show_dataset_count == true and h.show_organizations_without_datasets() == false %}
            <span class="badge">{{ node.dataset_count }}</span>&nbsp;
            {% endif %}
            <a href="{{ url_prefix }}{{ node.name }}">{{ node.title }}</a>
        </div>
        {% if node.children %}
        <ul class="no-bullet organization-subtree js-collapsed"> {{ loop(node.children) }} </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>